<form>
  <div class="form-group">
    <label for="title">Featured?</label>
    {{input value=model.featured class="form-control"}}
  </div>
  <button class="btn btn-warning" {{action 'update'}}>Update</button>
</form>
